<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="first_robot">
    <xacro:macro name="base_link" params="length radius">
        <!-- robot main-->
        <link name="base_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- geometry outlook-->
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
                <!-- material and color-->
                <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>
            </visual>
        </link>
    </xacro:macro>
    <!-- IMU-->
    <xacro:macro name="imu_link" params="imu_name xyz">
        <link name="${imu_name}_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- geometry outlook-->
                <geometry>
                    <box size="0.02 0.02 0.02"/>
                </geometry>
                <!-- material and color-->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </visual>
        </link>
        <!--Robot joints-->
        <joint name="imu_joint" type="fixed">
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="imu_link"/>
        </joint>
    </xacro:macro>

    <xacro:base_link length="0.12" radius="0.1"/>
    <xacro:imu_link  imu_name="imu_up" xyz="0.0 0.0 0.03"/>
    <xacro:imu_link  imu_name="imu_down" xyz="0.0 0.0 -0.03"/>
</robot>